<div class="bar bar-header bar-balanced">
	<div class="h1 title">Today</div>
	<a class="button button-clear button-light" href="https://bitbucket.org/JBoy/today/">fork @ bitbucket</a>
</div>
<div class="bar bar-footer">
	<button class="button button-clear"></button>
	<div class="title"></div>
	<button class="button button-clear removeDone" ng-click="removeDone()" disabled>Remove done</button>
</div>
<ul class="list">
	<div class="item item-input-inset addBar">
		<label class="item-input-wrapper">
			<input type="text" placeholder="Lägg till uppgift" ng-model="newToday.title" ng-enter="addToday()" autofocus required>
		</label>

	</div>
	<li ng-repeat="today in todays track by $id($index)" class="item item-checkbox status-{{ today.done }}">
		<label class="checkbox">
			<input type="checkbox" ng-model="today.done" ng-checked="{{ today.done }}" ng-click="toggleStatus()" data-id="{{ today.id }}">
		</label>
		{{ today.title }}
	</li>
	<li class="item" ng-show="!todays.length">Yeeeey! You're all set for today!</li>
</ul>